<div class="docs-example-viewer-wrapper">
    <div class="docs-example-viewer-title mat-elevation-z2">
        <div class="docs-example-viewer-title-spacer">
            <h2>Book Details</h2>
        </div>
    </div>
    <div style="float: right;">
        <share-buttons theme="circles-dark"
        [include]="['copy', 'facebook', 'whatsapp']"
        [showIcon]="true" [showText]="false" url="[[ this.routeURL]]" description="Share the Book Details using the below link"
        class="pt-5">
    </share-buttons>
    </div>
    <div class="docs-example-viewer-body row" *ngIf="BookDetails$ | async as book">
        <div class="col-md-3 col-sm-12">
            <mat-card-content class="image-card">
                <img class="preview-image" mat-card-image src="https://bookcart.azurewebsites.net/Upload/{{book.coverFileName}}" alt="No image available">
            </mat-card-content>
        </div>
        <div class="col-md-5 col-sm-12">
            <table class="table">
                <tr>
                    <td><strong>Title</strong></td>
                    <td>{{book.title}}</td>
                </tr>
                <tr>
                    <td><strong>Author</strong></td>
                    <td>{{book.author}}</td>
                </tr>
                <tr>
                    <td><strong>Category</strong></td>
                    <td>{{book.category}}</td>
                </tr>
                <tr>
                    <td><strong>Price</strong></td>
                    <td>{{(book.price / 80)| currency : 'USD'}}</td>
                </tr>
            </table>
            <div fxLayoutGap="10px grid">
                <app-addtocart class="mr-2" [bookId]="bookId"></app-addtocart>
            </div>
      </div>
    </div>
    <div class="docs-example-viewer-title mat-elevation-z2">
        <div class="docs-example-viewer-title-spacer">
            <h2>Similar Books</h2>
        </div>
    </div>
    <div class="row no-gutters pt-3">
        <div class="col mb-3">
            <div *ngIf="simbooks?.length>0;" class="d-flex justify-content-start card-deck-container mb-4">
                <div *ngFor="let book of simbooks" class="p-1">
                    <app-book-card [book]="book"></app-book-card>
                </div>
            </div>
            
        </div>
    </div>
</div>