ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 50%; /* Keep ratio for 900x500 images */
  align-items: center;
}
ngb-carousel .wrapper>img {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ngb-carousel .carousel-caption {
  position: absolute;
  color: black;
}

.carouselCont{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.image-card {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.preview-image {
  max-height: 250px;
  max-width: 200px;
  cursor: pointer;
}

.book-card {
  min-width: 200px;
  max-width: 200px;
  max-height: 400px;
}

.card-title {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mat-card-content {
  margin-bottom: 0;
}


.favourite {
  position: absolute;
  top: 4px;
  right: 4px;
  background: #ffffff;
  border: 1px solid #ffffff;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 5px;
}

mat-card:hover  {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.mini {
  display: flex;
  flex-direction: row;
}

.container {
  padding-top: 10px;
}

.column {
  padding-right: 68px;
}