<footer>
    <div class="footer">
        <div class="container">
            <div class="company">
                <h4>BOOK WORM</h4>
                <p>
                    This is a book selling company.
                </p>
            </div>
            <div class="dev-section">
                <p style="text-align: center;">Developed By:</p>
                <p>Moulika Nagulavancha</p>
                <p>Kavyasri Avushapuram</p>
            </div>
            <div class="contact">
                <p>Contact Us: +1(201)-729-7488</p>
                <p>Email Us: support@bookworm.com</p>
                <p>FAQs</p>
            </div>
        </div>
        <br><br><br>
        <p style="text-align: center;">
            &copy; 2023 Copyrights: bookworm.com
        </p>
        <div class="ic" style="text-align: center;">
            <i class="bi bi-google"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-linkedin "></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-github"></i>
        </div>
    </div>
</footer>